#imagem-cell {
    text-align: center; /* Centraliza horizontalmente */
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
}

.vermama{
    color: red;
    background-color: yellow;
}

.verm{
    color: red;
    background-color: none;
}

header{
    display: flex;
    width: 95vw;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

main {
    width: 99%; /* Largura de uma folha A4 */
    height: 29.7cm; /* Altura de uma folha A4 */
    padding: 10px;
    background-color: white; /* Cor de fundo da "folha" */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para dar efeito de elevação */
}
